<div>
    <label for="name">Event Name:</label>
    <input type="text" name="name" value="<%= event.name %>" required>
</div>
<!-- <div>
    <label for="name">Location:</label>
    <input type="text" id="location" placeholder="Location" value="<%#= event.location %>" name="location" required>
</div>
<div>
    <label for="name">Address:</label>
    <input type="text" id="address" placeholder="Address" value="<%#= event.address %>" name="address" >
</div>
<div>
    <label for="name">Start Time:</label>
    <input type="text" id="time_start" placeholder="Start Time" value="<%#= event.time_start %>" name="time_start" >
</div>
<div>
    <label for="name">End Time:</label>
    <input type="text" id="time_end" placeholder="End Time" value="<%#= event.time_end %>" name="end_time" >
</div>
<div>
    <label for="name">Ticket Link:</label>
    <input type="text" id="ticket_link" placeholder="Ticket Link" value="<%#= event.ticket_link %>" name="ticket_link">
</div>
<div>
    <label for="name">Date:</label>
    <input type="datetime" id="date" placeholder="Date" value="<%#= event.date %>" name="date" >
</div>
<div>
    <label for="name">Description:</label>
    <textarea id="desc" placeholder="Description" value="<%#= event.desc %>" name="desc"></textarea>
</div>
<div>
    <label for="name">Image:</label>
    <input type="file" id="img"  value="" name="img" required>
</div> -->