<header>
    <nav class="header-nav">
        <a class="header-title"  href="/">FirstChoice</a>
        <ul>
            <li><a href="/events">Events</a></li>
            <li><a href="/events/new">Add Event</a></li>
            <li><a href="/venues">Venues</a></li>
            <li><a href="/venues/new">Add Venue</a></li>
        </ul>
    </nav>
</header>