<h2 class="page-header">Upcoming Events</h2>
<%- include('partials/eventGrid', {events: events, large: true}) %> 
<br>
<h2 class="page-header">Previous Events</h2>
<%- include('partials/eventGrid', {events: events}) %> 