<h2 class="page-header">Upcoming Events</h2>
<% events.forEach(event => { %>
    <div>
        <%#= event.name %>
        <a href="/events/<%= event.id %>">
            <img height="150" width="100" src="<%= event.imgPath %>">
        </a>
    </div>
<% }) %>
<br>
<h2 class="page-header">Previous Events</h2>
<% events.forEach(event => { %>
    
    <div>
        <%#= event.name %>
        <a href="/events/<%= event.id %>">
            <img height="150" width="100" src="<%= event.imgPath %>">
        </a>
        
    </div>
    
<% }) %>