<h2>New Venue</h2>
<form action="/venues" method="POST">

    <%- include('_form_fields') %>
    <div>
        <a href="/venues">Cancel</a>
        <button type="submit">Create</button>
    </div>
    
</form>