<h2 class="page-header"><%= venue.name %></h2>

<div class="btn-row">
    <a class="btn btn-primary" href="/venues/<%= venue.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', 
                {url: '/venues/${venue.id}' }) %>
</div>
<div class="btn-row">
    <a class="btn btn-danger" href="/venues">Cancel</a>
</div>


<% if (eventsByVenue.length > 0) { %>
    <h2 class="page-header">Events by Venue</h2>
    <%- include('../partials/eventGrid', {events: eventsByVenue}) %> 
    <!-- to make it large add , large: true to the params above -->
<% } %>